/* Light and Dark Mode Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./love.png'); /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  color: #333;
}

.app-container.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.app-container.light-mode {
  background-color: #ffffff;
  color: #333;
}

.content {
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  width: 300px;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.qr-result img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.download-link {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.download-link:hover {
  background-color: #0056b3;
}

.toggle-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
